USE [GameSpacedatabase]
GO
/****** Object:  Table [dbo].[ManagerData]    Script Date: 2025/9/16 下午 12:13:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ManagerData](
	[Manager_Id] [int] NOT NULL,
	[Manager_Name] [nvarchar](30) NULL,
	[Manager_Account] [varchar](30) NULL,
	[Manager_Password] [nvarchar](200) NULL,
	[Administrator_registration_date] [datetime2](7) NULL,
	[Manager_Email] [nvarchar](255) NOT NULL,
	[Manager_EmailConfirmed] [bit] NOT NULL,
	[Manager_AccessFailedCount] [int] NOT NULL,
	[Manager_LockoutEnabled] [bit] NOT NULL,
	[Manager_LockoutEnd] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Manager_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ManagerRole]    Script Date: 2025/9/16 下午 12:13:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ManagerRole](
	[Manager_Id] [int] NOT NULL,
	[ManagerRole_Id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Manager_Id] ASC,
	[ManagerRole_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ManagerRolePermission]    Script Date: 2025/9/16 下午 12:13:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ManagerRolePermission](
	[ManagerRole_Id] [int] NOT NULL,
	[role_name] [nvarchar](50) NOT NULL,
	[AdministratorPrivilegesManagement] [bit] NULL,
	[UserStatusManagement] [bit] NULL,
	[ShoppingPermissionManagement] [bit] NULL,
	[MessagePermissionManagement] [bit] NULL,
	[Pet_Rights_Management] [bit] NULL,
	[customer_service] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ManagerRole_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2025/9/16 下午 12:13:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[User_ID] [int] IDENTITY(1,1) NOT NULL,
	[User_name] [nvarchar](30) NOT NULL,
	[User_Account] [nvarchar](30) NOT NULL,
	[User_Password] [nvarchar](30) NOT NULL,
	[User_EmailConfirmed] [bit] NOT NULL,
	[User_PhoneNumberConfirmed] [bit] NOT NULL,
	[User_TwoFactorEnabled] [bit] NOT NULL,
	[User_AccessFailedCount] [int] NOT NULL,
	[User_LockoutEnabled] [bit] NOT NULL,
	[User_LockoutEnd] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[User_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ManagerData] ([Manager_Id], [Manager_Name], [Manager_Account], [Manager_Password], [Administrator_registration_date], [Manager_Email], [Manager_EmailConfirmed], [Manager_AccessFailedCount], [Manager_LockoutEnabled], [Manager_LockoutEnd]) VALUES (30000001, N'張志明', N'zhang_zhiming_01', N'AdminPass001@', CAST(N'2019-01-15T08:30:00.0000000' AS DateTime2), N'zhang.zhiming@company.com', 1, 0, 1, NULL)
INSERT [dbo].[ManagerData] ([Manager_Id], [Manager_Name], [Manager_Account], [Manager_Password], [Administrator_registration_date], [Manager_Email], [Manager_EmailConfirmed], [Manager_AccessFailedCount], [Manager_LockoutEnabled], [Manager_LockoutEnd]) VALUES (30000002, N'李小華', N'li_xiaohua_02', N'SecurePass002#', CAST(N'2019-01-16T09:15:00.0000000' AS DateTime2), N'li.xiaohua@company.com', 1, 0, 1, NULL)
INSERT [dbo].[ManagerData] ([Manager_Id], [Manager_Name], [Manager_Account], [Manager_Password], [Administrator_registration_date], [Manager_Email], [Manager_EmailConfirmed], [Manager_AccessFailedCount], [Manager_LockoutEnabled], [Manager_LockoutEnd]) VALUES (30000003, N'王美玲', N'wang_meiling_03', N'StrongPwd003!', CAST(N'2019-01-17T10:45:00.0000000' AS DateTime2), N'wang.meiling@company.com', 0, 1, 1, NULL)
INSERT [dbo].[ManagerData] ([Manager_Id], [Manager_Name], [Manager_Account], [Manager_Password], [Administrator_registration_date], [Manager_Email], [Manager_EmailConfirmed], [Manager_AccessFailedCount], [Manager_LockoutEnabled], [Manager_LockoutEnd]) VALUES (30000023, N'馬建華', N'ma_jianhua_23', N'BuildChina023\', CAST(N'2019-02-06T15:00:00.0000000' AS DateTime2), N'ma.jianhua@company.com', 0, 2, 1, NULL)
INSERT [dbo].[ManagerData] ([Manager_Id], [Manager_Name], [Manager_Account], [Manager_Password], [Administrator_registration_date], [Manager_Email], [Manager_EmailConfirmed], [Manager_AccessFailedCount], [Manager_LockoutEnabled], [Manager_LockoutEnd]) VALUES (30000054, N'Andrew Smith', N'andrew_smith_54', N'AndrewS054\', CAST(N'2019-03-09T10:30:00.0000000' AS DateTime2), N'andrew.smith@company.com', 1, 1, 1, NULL)
INSERT [dbo].[ManagerData] ([Manager_Id], [Manager_Name], [Manager_Account], [Manager_Password], [Administrator_registration_date], [Manager_Email], [Manager_EmailConfirmed], [Manager_AccessFailedCount], [Manager_LockoutEnabled], [Manager_LockoutEnd]) VALUES (30000085, N'魏美芳', N'wei_meifang_85', N'BeautyFragrant085\', CAST(N'2019-04-09T14:30:00.0000000' AS DateTime2), N'wei.meifang@company.com', 1, 1, 1, NULL)
GO
INSERT [dbo].[ManagerRole] ([Manager_Id], [ManagerRole_Id]) VALUES (30000001, 1)
INSERT [dbo].[ManagerRole] ([Manager_Id], [ManagerRole_Id]) VALUES (30000002, 2)
INSERT [dbo].[ManagerRole] ([Manager_Id], [ManagerRole_Id]) VALUES (30000003, 3)
GO
INSERT [dbo].[ManagerRolePermission] ([ManagerRole_Id], [role_name], [AdministratorPrivilegesManagement], [UserStatusManagement], [ShoppingPermissionManagement], [MessagePermissionManagement], [Pet_Rights_Management], [customer_service]) VALUES (1, N'管理者平台管理人員', 1, 1, 1, 1, 1, 1)
INSERT [dbo].[ManagerRolePermission] ([ManagerRole_Id], [role_name], [AdministratorPrivilegesManagement], [UserStatusManagement], [ShoppingPermissionManagement], [MessagePermissionManagement], [Pet_Rights_Management], [customer_service]) VALUES (2, N'使用者與論壇管理精理', 0, 1, 0, 1, 0, 1)
INSERT [dbo].[ManagerRolePermission] ([ManagerRole_Id], [role_name], [AdministratorPrivilegesManagement], [UserStatusManagement], [ShoppingPermissionManagement], [MessagePermissionManagement], [Pet_Rights_Management], [customer_service]) VALUES (3, N'商城與寵物管理經理', 0, 0, 1, 0, 1, 0)
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([User_ID], [User_name], [User_Account], [User_Password], [User_EmailConfirmed], [User_PhoneNumberConfirmed], [User_TwoFactorEnabled], [User_AccessFailedCount], [User_LockoutEnabled], [User_LockoutEnd]) VALUES (10000001, N'DragonKnight88', N'dragonknight88', N'Password001@', 1, 1, 1, 1, 1, NULL)
INSERT [dbo].[Users] ([User_ID], [User_name], [User_Account], [User_Password], [User_EmailConfirmed], [User_PhoneNumberConfirmed], [User_TwoFactorEnabled], [User_AccessFailedCount], [User_LockoutEnabled], [User_LockoutEnd]) VALUES (10000002, N'TechGuru92', N'tech_guru_92', N'SecurePass002#', 1, 1, 1, 1, 1, NULL)
INSERT [dbo].[Users] ([User_ID], [User_name], [User_Account], [User_Password], [User_EmailConfirmed], [User_PhoneNumberConfirmed], [User_TwoFactorEnabled], [User_AccessFailedCount], [User_LockoutEnabled], [User_LockoutEnd]) VALUES (10000003, N'CoffeeAddict', N'coffee_addict', N'CoffeePwd003!', 1, 1, 1, 1, 1, NULL)
INSERT [dbo].[Users] ([User_ID], [User_name], [User_Account], [User_Password], [User_EmailConfirmed], [User_PhoneNumberConfirmed], [User_TwoFactorEnabled], [User_AccessFailedCount], [User_LockoutEnabled], [User_LockoutEnd]) VALUES (10000023, N'SportsFan', N'sports_fan_87', N'Champion023\', 1, 1, 1, 1, 1, NULL)
INSERT [dbo].[Users] ([User_ID], [User_name], [User_Account], [User_Password], [User_EmailConfirmed], [User_PhoneNumberConfirmed], [User_TwoFactorEnabled], [User_AccessFailedCount], [User_LockoutEnabled], [User_LockoutEnd]) VALUES (10000054, N'Accountant', N'accountant_85', N'NumberCrunch054\', 1, 1, 1, 1, 1, NULL)
INSERT [dbo].[Users] ([User_ID], [User_name], [User_Account], [User_Password], [User_EmailConfirmed], [User_PhoneNumberConfirmed], [User_TwoFactorEnabled], [User_AccessFailedCount], [User_LockoutEnabled], [User_LockoutEnd]) VALUES (10000085, N'TechnicalWriter', N'tech_writer_88', N'DocuMaster085\', 1, 1, 1, 1, 1, NULL)
GO
INSERT [dbo].[Users] ([User_ID], [User_name], [User_Account], [User_Password], [User_EmailConfirmed], [User_PhoneNumberConfirmed], [User_TwoFactorEnabled], [User_AccessFailedCount], [User_LockoutEnabled], [User_LockoutEnd]) VALUES (10000116, N'NanoTechnology', N'nano_technology', N'SmallWorld116\', 1, 1, 1, 1, 1, NULL)
INSERT [dbo].[Users] ([User_ID], [User_name], [User_Account], [User_Password], [User_EmailConfirmed], [User_PhoneNumberConfirmed], [User_TwoFactorEnabled], [User_AccessFailedCount], [User_LockoutEnabled], [User_LockoutEnd]) VALUES (10000147, N'YogaInstructor', N'yoga_instructor', N'FlexMind147\', 1, 1, 1, 1, 1, NULL)
INSERT [dbo].[Users] ([User_ID], [User_name], [User_Account], [User_Password], [User_EmailConfirmed], [User_PhoneNumberConfirmed], [User_TwoFactorEnabled], [User_AccessFailedCount], [User_LockoutEnabled], [User_LockoutEnd]) VALUES (10000178, N'CanoeGuide', N'canoe_guide_88', N'QuietWater178\', 1, 1, 1, 1, 1, NULL)
GO
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ManagerD__0890969EC9C76047]    Script Date: 2025/9/16 下午 12:13:27 ******/
ALTER TABLE [dbo].[ManagerData] ADD UNIQUE NONCLUSTERED 
(
	[Manager_Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ManagerD__62B5E21119A93877]    Script Date: 2025/9/16 下午 12:13:27 ******/
ALTER TABLE [dbo].[ManagerData] ADD UNIQUE NONCLUSTERED 
(
	[Manager_Account] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__5F1A108682A83552]    Script Date: 2025/9/16 下午 12:13:27 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[User_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__899F4A91E5EF8DB8]    Script Date: 2025/9/16 下午 12:13:27 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[User_Account] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ManagerData] ADD  DEFAULT ((0)) FOR [Manager_EmailConfirmed]
GO
ALTER TABLE [dbo].[ManagerData] ADD  DEFAULT ((0)) FOR [Manager_AccessFailedCount]
GO
ALTER TABLE [dbo].[ManagerData] ADD  DEFAULT ((1)) FOR [Manager_LockoutEnabled]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [User_EmailConfirmed]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [User_PhoneNumberConfirmed]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [User_TwoFactorEnabled]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [User_AccessFailedCount]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [User_LockoutEnabled]
GO
ALTER TABLE [dbo].[ManagerRole]  WITH CHECK ADD FOREIGN KEY([Manager_Id])
REFERENCES [dbo].[ManagerData] ([Manager_Id])
GO
ALTER TABLE [dbo].[ManagerRole]  WITH CHECK ADD FOREIGN KEY([ManagerRole_Id])
REFERENCES [dbo].[ManagerRolePermission] ([ManagerRole_Id])
GO
ALTER TABLE [dbo].[ManagerRole]  WITH CHECK ADD FOREIGN KEY([Manager_Id])
REFERENCES [dbo].[ManagerData] ([Manager_Id])
GO
ALTER TABLE [dbo].[ManagerRole]  WITH CHECK ADD FOREIGN KEY([ManagerRole_Id])
REFERENCES [dbo].[ManagerRolePermission] ([ManagerRole_Id])
GO
